.diary_page {
  display: flex;
  flex-direction: column;
  width: var(--pageWidth-size); /*500px; 80vw;*/
  height: var(--pageHeight-size); /* 700px; 141vw;*/
  background-color: var(--diaryPage-color);
  box-sizing: border-box;

  /* display: grid;
  place-items: center; */
}

.diary_page_div {
  width: 100%;
  height: fit-content;
}
@media print {
  .diary_page {
    background-color: white;
    /* margin: 0;
    padding: 0; */
    /* width: 210mm;
    height: 297mm; */
    /* width: 100%;
    height: 100%; */
    /* transform: scale(var(--scale-factor)); */
    /* border-width: 5px; */
    /* border-width: calc(2px / var(--scale-factor)); */
    transform: scale(2);
    /*일단 두배로 설정함 나중에 수정 */
    transform-origin: top left;
    image-rendering: pixelated;
    /* 흐려짐 방지: 버전 확인하기 */
    /* width: 50%; */
    /* width: 210mm;
    height: 297mm; */
  }
}

body {
  background-color: rgb(100, 173, 255);
}

.btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
}

.btn_group {
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}
