.component_blocks {
  float: left;
  margin: 10px;
  border: solid;
  padding: 10px;
  background-color: aliceblue;
}

.tabBlock {
  width: 500px;
  height: 200px;
  background-color: gray;
}

.componentEx {
  width: 100px;
  background-color: aqua;
}
